body {
    padding-top: 10px;
    background-image: url("bg.jpg");
}

.jumbotron {
    background-image: url("tbbac.jpg");
}

.container {
    margin-left: 50px;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.test {
    color: white;
}

.panel-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;   
}

.panel-heading {
    background-image: url("tbbac.jpg")
}

.well {
    background-image: url("tbbac.jpg");
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white !important;
    font-weight: bolder;
}

p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: large;
}

.demo {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid olive;
}

/* #gauge {
    align-content: center !important;
} */

/* #bubble {
    align-content: center !important;
    border: 1px solid olive;
} */