body {
    /* background-color:whitesmoke; */
    background-image: url("bg.jpg");
}

.jumbotron {
    background-image: url("tbbac.jpg");
}

.container {
    margin-left: 50px;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.test {
    color: white;
}

.panel-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;   
}

.panel-heading {
    background-image: url("tbbac.jpg")
}

.well {
    background-image: url("tbbac.jpg");
}

h1 {
    color: white;
}

p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}